body {
background-color: black;
}
p {
    color: white;
}
section {
    padding-top: 128px;
    position: relative;
}
section::before {
    z-index: -1;
    content: "";
    font-size: 72px;
    color: orange;
    opacity: 0.5;
    position: absolute;
    font-weight: 700;
    top: 20px;
    left: -30px
}
.btn.button {
    border: 3px solid white;
    border-radius: 24px;
    color: white;
}
.btn.button:hover, .btn.button.active {
    border:3px solid white;
    background-color: white;
    color: orange;
}
.navbar {
    background-color: orange;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
    color: white
}
 .home h1 {
    font-size: 65px;
    color: white;
 }
 .home h3 {
    font-size: 64px;
    color:white
 }
 .home p {
    color: white;
 }
 
 .colorarrow{
    color: white;
    width: 60px;
    height: 60px;
}
#arrow {
    animation: 1s upDown infinite;
}
.about {
    color:white
}
.about::before {
    content: 'About';
    

}
.about-exp-item{
    margin-top: 24px;
}
.about-exp-item-header{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.about-exp-item-detail{
    display: none;
}


.work::before {
    content: "Work";
}

.work-text{
    color:white
}

.work-img {
    display : grid;
    grid-template-columns: repeat(2,1f);
    grid-template-areas: "work-1 work-2" "work-3 work-3" ;
    gap:12px;
}

.work-img img {
    width:100%;
}
.work-img-item {
    position: relative;
}

.work-img-item:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}
#work-1{
    grid-area: work-1;
}
#work-1:hover::after{
    content:'Web Project'
}
#work-2 {
    grid-area: work-2;
}
#work-2:hover::after{
    content:'Web Project'
}
#work-3 {
    grid-area: work-3;
}
#work-3:hover::after{
    content:'Web Project'
}
.contact {
    padding-bottom: 128px;
}
form {
    color: white;
}
.contact::before {
    content:"Contact"
}
.contact-form {
    border : 1px solid white;
    padding: 64px 32px;
}
.form-label {
    font-weight: 700;
}
@keyframes upDown{
    0% {
        transform: translateY();
    }
    50% {
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}